html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, "Lucida Grande",
		sans-serif;
}

/**********************************
Banner Section
**********************************/
.banner {
	padding: 0;
}
.banner__container {
	background-image: url("../images/ace_header_pattern.svg");
	height: 10rem;
	width: 100%;
	background-color: #d40029;
}
.banner__header {
	height: 9.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.6rem;
	color: #fff;
	text-align: center;
	padding: 0 2rem;
	font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", Arial,
		"Lucida Grande", sans-serif;
	font-weight: 300;
}

/**********************************
Projected Values Section
**********************************/
.projected-values {
	margin: 3.5rem auto 0 auto;
	max-width: 108rem;
	width: 100%;
}
.projected-values__header {
	width: 15rem;
	margin: 0 auto;
	color: #333333;
	font-size: 1.6rem;
}
.projected-values__col {
	margin-bottom: 4rem;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.projected-values__investment {
	height: 9rem;
	border-right: 0.2rem solid #707070;
	margin-top: 1.7rem;
	padding-top: 1.8rem;
}
.projected-values__investment-margin {
	padding-top: 0;
}
.projected-values__allocated-piechart {
	margin: 0 auto;
	width: 100%;
	max-width: 12.8rem;
	height: auto;
	display: block;
}
.projected-values__investment--remain-invest {
	border-right: 0;
}
.projected-values__allocated-amount {
	margin-top: 1.2rem;
	display: inline-block;
	color: #8b8b8b;
}
.projected-values__amounts {
	font-size: 3.3rem;
	color: #333333;
	font-weight: 500;
	display: block;
}
.projected-values__amounts--remaining-value {
	color: #d40029;
}
.projected-values__projected-link {
	color: #d40029;
	text-decoration: none;
	font-size: 1.6rem;
}
.projected-values__projected-link:hover {
	color: #ae0022;
	text-decoration: underline;
}

@-webkit-keyframes fillAnimation {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(135deg);
	}
}

@keyframes fillAnimation {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(135deg);
	}
}
@-webkit-keyframes fillGraphAnimation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
}
@keyframes fillGraphAnimation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
}

/**********************************
Projected Values Mobile Section
**********************************/
@media only screen and (min-width: 576px) and (max-width: 767px) {
	#projected .container {
		max-width: initial;
	}
}
@media only screen and (max-width: 575px) {
	.projected-values__investment {
		width: 30rem;
		height: 10rem;
		margin: 0 auto;
		border-right: none;
		border-bottom: 0.2rem solid #707070;
	}
}

/**********************************
Table Grid Section
**********************************/
#grid {
	background-color: #f6f6f6;
	padding: 2rem 0 3rem 0;
}

.table-container {
	max-width: 98rem;
	width: 100%;
	padding: 0 2rem;
}
.store-info {
	margin-bottom: 2rem;
}
.store-info__label {
	margin-bottom: 0;
}
.table-container__radio-store {
	margin-top: 0.5rem;
}
.table-container .form-check {
	margin-bottom: 1rem;
}
.table-container__btn-current-store {
	width: 20.1rem;
	height: 3.8rem;
	font-size: 1.6rem;
	background-color: #fff;
	color: #000;
}
.table-container__store {
	color: #d40029;
}
.table-container .dropdown {
	padding-left: 0;
}
.table-container .dropdown-toggle::after {
	margin-left: 1.255em;
	font-size: 1.9rem;
	position: relative;
	top: 0.2rem;
}
.table-container li {
	padding: 0.5rem 0;
}
.table-container .dropdown-item {
	font-size: 1.6rem;
	padding-right: 4.1rem;
}
.table-container .table-investment {
	margin-top: 1.5rem;
}
.table-container thead tr th {
	padding: 1.3rem 0;
	vertical-align: middle;
	text-align: center;
	background-color: #707070;
	color: #fff;
}
.table-container thead tr th:nth-child(1) {
	border-top-left-radius: 1rem;
}
.table-container thead tr th:nth-child(2) {
	width: 13.8rem;
	text-align: center;
	padding: 1rem 1rem;
	background-color: #707070;
	color: #fff;
	border-left: 0.1rem solid #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
}
.table-container thead tr th:nth-child(3) {
	background-color: #707070;
	color: #fff;
	border-left: 0.1rem solid #fff;
	border-right: 0.1rem solid #fff;
	width: 13.8rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	padding: 0 1rem;
}
.table-container thead tr th:nth-child(4) {
	width: 28rem;
	border-top-right-radius: 1rem;
	text-transform: uppercase;
	font-size: 1.4rem;
}
.table-container__row-border {
	border-bottom: 0.2rem solid #d1d1d1;
}
.table-container__btn-view,
.table-container__btn-manage {
	width: 9.6rem;
	height: 2.8rem;
	margin: 0 2rem;
	font-size: 1.4rem;
	display: inline-block;
	text-transform: capitalize;
	border-radius: 0.5rem;
	transition: ease all 0.4s;
}
.table-container__btn-view:nth-child(1) {
	margin-left: 2.3rem;
}
.table-container__btn-view {
	border: 0.1rem solid #000;
	color: #000;
	text-align: center;
	vertical-align: middle;
	line-height: 2.7rem;
}
.table-container__btn-view:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}
.table-container__btn-manage {
	border: 0.1rem solid #d40029;
	background-color: #fff;
	color: #d40029;
}
.table-container__btn-manage:hover {
	background-color: #ae0022;
	color: #fff;
	cursor: pointer;
}
.table-container tbody tr th,
.table-container tbody tr td {
	padding: 1.1rem 0;
	border: 0.1rem solid #d1d1d1;
	line-height: normal;
	vertical-align: middle;
	background-color: #fff;
}
.table-container tbody tr th {
	padding-left: 2.4rem;
	padding-right: 1rem;
	background-color: #fff;
	text-transform: capitalize;
	font-weight: 500;
}
.table-container tbody tr:nth-child(n + 2):nth-child(-n + 14) th {
	padding-left: 0.8rem;
}
.table-container tbody tr td:nth-child(2),
.table-container tbody tr td:nth-child(3) {
	text-align: right;
	padding-right: 1.4rem;
	background-color: #fff;
}
.table-container tbody tr:not(:first-child) td:nth-child(4) {
	text-align: center;
	background-color: #fff;
}
.table-container__right-chevron {
	margin-right: 1.1rem;
	font-size: 1.8rem;
}
.table-container__right-chevron:hover {
	cursor: pointer;
}
.table-container__td {
	padding: 0 !important;
}
.table-container__inner-table {
	width: 80%;
	margin-left: auto;
	margin-right: 1px;
}
.table-container__inner-table thead tr th {
	background-color: initial;
	color: #000;
	border: none;
}
.table-container__inner-table thead tr th:nth-child(2),
.table-container__inner-table thead tr th:nth-child(3) {
	background-color: initial;
	color: #000;
	padding-left: 0;
	border: none;
}
.table-container__inner-table thead tr th:nth-child(4) {
	width: 26.2rem;
	text-align: left;
}
.table-container__inner-table thead tr th:nth-child(4) span {
	font-size: 1rem;
	text-transform: initial;
	color: #d40029;
	font-style: italic;
	display: inline-block;
}
.table-container__inner-table tbody tr th {
	padding-left: 2.4rem !important;
}
.table-container__inner-table tbody tr td:nth-child(4) {
	border-right: none;
	text-align: left !important;
	padding-left: 2.4rem;
}
.table-container__inner-table-container {
	background-color: #eee;
	height: 28.8rem;
	overflow: auto;
	display: none;
}
.table-container__inner-table-container::-webkit-scrollbar {
	width: 1.7rem;
}
.table-container__inner-table-container::-webkit-scrollbar-track {
	background: #d40029;
}
.table-container__inner-table-container::-webkit-scrollbar-thumb {
	background-color: #000; /* color of the scroll thumb */
	border-radius: 2rem; /* roundness of the scroll thumb */
	border: 0.3rem solid #000; /* creates padding around scroll thumb */
}
.table-container .arrow-right-rotate {
	transform: rotate(90deg);
	transition: all 0.3s linear;
}
.chevron-toggle {
	transition: transform 0.3s ease;
}
.table-container__sub-total,
.table-container__sub-total-value {
	background-color: #f6f6f6 !important;
	border: none !important;
}
.table-container__sub-total,
.table-container .table-container__total {
	text-align: right;
	padding-right: 2.5rem !important;
	text-transform: uppercase !important;
}
.table-container__reimbursement {
	color: #d40029;
}
.table-container__reimbursement-btn-container {
	text-align: left !important;
}
.table-container__btn-manage--reimbursement {
	padding-top: 0.5rem;
	text-align: center;
}
.table-container__total,
.table-container__total-value {
	background-color: #515151 !important;
	color: #fff;
}

/**********************************
Pie Chart Section
**********************************/
#chartdiv {
	width: 52rem;
	height: 50rem;
	margin: 0 auto;
}

@media only screen and (max-width: 878px) {
	.table-container__inner-table {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.table-container .row.grid {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		width: 100%;
	}
	.table-container .table-investment {
		min-width: 80rem;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 745px) {
	.table-container__btn-view:nth-child(1) {
		position: relative;
		top: 0.5rem;
		display: block;
		margin: 0 auto 0 auto;
	}
	.table-container__reimbursement-btn-container {
		text-align: center !important;
	}
} /*# sourceMappingURL=styles.css.map */
